---
---

@import "{{ site.theme }}";

table {
    background-color: #ffffff;
}

th, td {
    font-size: 16px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    background: unset;
    text-align: center;
}

table {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

p, li {
    font-size: 15px;
}

a {
   font-weight: 400;
}