---
---

@import "{{ site.theme }}";

table {
    background-color: #ffffff;
}

th, td {
    font-size: 16px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    background: unset;
    text-align: center;
}

table {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

p, li {
    font-size: 15px;
}

a {
   font-weight: 400;
   color: #2f6de1;
}

p small {
   font-size: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

pre code {
    color: #10de10;
    font-size: smaller;
}

pre.highlight {
    background-color: black;
}